SetEnv ENVIRONMENT dev

<IfModule mod_rewrite.c>
    # The following line can crash some servers
    # Options -MultiViews

    RewriteEngine On
    #RewriteBase /path/to/app
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^www/ www/index.php [L]
</IfModule>